body {
	background-color:#666666;
	-webkit-background-size: 1024px 768px;
	-moz-background-size: 1024px 768px;
	-o-background-size: 1024px 768px;
	background-size: 1024px 768px;
}



#screen {
	position:fixed;
	top: 0px;
	bottom:0px;
	left: 0px;
	right: 0px;
	opacity: 1;
}

#notification {
	background-color:#000000;
	border: 2px solid #dddddd;
	border-radius: 10px;
	color: #ffffff;
	padding: 4px 10px 1px 10px;
	font-size : 18px;
	font-style : bold;
	position:absolute;
	height:30px;
	top: -40px;
	right: 30px;
	opacity: 0.8;
}

#login {
        background-color: #333333;
        color: #aaaaaa;
        position:absolute;
        right:0px;
        top:0px;
        padding: 3px;
        border:1px solid #888888;
	opacity: 0.9;
}

#playbutton {
        background-color: #008800;
        color: #ffffff;
        top: 50px;
        left: 50px;
        position:absolute;
        width: 100px;
        height: 30px;
        padding: 3px;
        border:1px solid #888888;
	opacity: 0.9;
}


#pausebutton {
        background-color: #880000;
        color: #ffffff;
        top: 50px;
        left: 200px;
        position:absolute;
        width: 100px;
        height: 30px;
        padding: 3px;
        border:1px solid #888888;
	opacity: 0.9;
}

#overlay {
        background-color: #000088;
        color: #ffffff;
        top: 100px;
        left: 50px;
        position:absolute;
        width: 200px;
        height: 50px;
        padding: 3px;
        border:1px solid #888888;
		opacity: 0.8;
}

#video {
	position:absolute;
	width: 100%;
	height: 100%;
}

#video1 {
	position:absolute;
	width: 100%;
	height: 100%;
}
